/* ESTILOS DE TODAS AS PÁGINAS */

/* Animação da barra piscante */
@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

.blinking-bar {
    animation: blink 1s infinite;
    color: #ffffff;
}

/* Padrão de fonte e fundo */
@font-face {
    font-family: "Roboto Mono";
    src: url(/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto Regular";
    background-color: #282C34;
    color: #ffffff;
}

/* Estilo do h1 com imagem */
.header-with-image {
    display: flex;
    align-items: center;
    background-color: #333843;
    white-space: nowrap;
    text-align: center;
}

.header-text {
    text-align: left;
    flex: auto;
    font-size: xx-large;
    white-space: nowrap;
    display: flex;
}

.header-image {
    text-align: center;
    height: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    white-space: nowrap;
}

.subheader_text {
    display: flexbox;
    text-align: center;
    font-size: xx-large;
    white-space: nowrap;
    padding: 0.5ch;
}

/* Estilo do changelog */
.spoiler {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}

.spoiler-content {
    display: none;
}

.spoiler.open .spoiler-content {
    display: block;
}

.tabela_changelog {
    display: none;
    border: 1px solid #ffffff;
    padding: 0.5ch;
    font-family: 'Roboto Mono';
    width: 100%;
    margin: 0 auto;
}

.tabela_changelog table {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    padding: 0.5ch;
    width: 100%
}

.tabela_changelog td {
    border: 1px solid #ffffff;
    margin: 0.5ch;
}

.tabela_changelog ul,
.tabela_changelog li {
    text-align: left;
    padding: 0;
    margin: 0;
}


/* Botão de voltar */
.button-back {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 5px 10px;
    background-color: #00A6ED;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;
    border-radius: 5px;
}

/* Estilo do rodapé */
.footer {
    text-align: center;
    font-size: small;
    padding: 5px;
}

/* --------------------------------------------------- */

/* ESTILOS DA PÁGINA INDEX */

/* Estilos gerais dos botões */
/* Cores de cada botão são definidas inline */
.button_index {
    color: inherit;
    display: inline-block;
    padding: 1ch;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    white-space: pre-line;
    width: 20ch;
}

/* --------------------------------------------------- */

/* ESTILOS DA CALCULADORA */

.tabela_calc {
    font-size: medium;
    border-collapse: collapse;
    margin: 20px auto auto;
    width: 100ch;
}

.tabela_calc th,
.tabela_calc td,
.tabela_calc tr {
    font-size: medium;
    text-align: center;
    border: 1px solid #999999;
    padding: 8px;
}

.tabela_calc th {
    background-color: #A37774;
    text-align: center;
}

.input_calc {
    font-size: large;
    background-color: #333843;
    color: #ffffff;
}

/* --------------------------------------------------- */

/* ESTILOS DAS PÁGINAS DE BUSCA */

/* Estilo geral dos botões de busca */
.prod_ou_cod,
.buscar {
    display: inline;
    margin: auto;
    text-align: center;
    padding: 5px 10px;
    background-color: #ffffff;
}

.buscar:hover {
    background-color: #e3f06c;
}

.buscainput {
    width: 75%;
    padding: 5px;
}

/* Estilo geral da tabela */
.tabela_busca {
    border-collapse: collapse;
    font-family: "Roboto Mono";
    margin: 0 auto;
    padding: 2ch;
}

.tabela_busca th {
    border: 1px solid #999999;
    padding: 0 1ch;
    text-align: center;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
}

.tabela_busca td {
    border: 1px solid #999999;
    padding: 0 1ch;
    max-width: max-content;
    overflow: hidden;
    white-space: nowrap;
}

/* Estilo do texto de última modificação */
#lastModified {
    text-align: center;
}

/* Estilo do aviso de última modificação */
.update-warning {
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 5px;
    display: block;
}