* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Padrão de fonte, cor e fundo */

@font-face {
    font-family: "Nunito";
    src: url(STYLES/Nunito-VariableFont_wght.ttf);
}

:root {
    --pagina-background: #EEE;
    --fundo-padrao: #BBB;
    --texto-padrao: #000;
    --texto-color-escuro: #DB06B7;
    --botao-color-claro: #FB74E5;
    --botao-color-claro-hover: #98D2EB;
    --tabela-padrao: #AAA;
    --tabela-ltda: #CE93D8;
    --tabela-online: #90CAF9;
    --tabela-sv: #A5D6A7;
    --tabela-viviane: #FFAB91;
}

html,
body {
    font-family: "Nunito";
    font-weight: normal;
    font-size: medium;
    text-align: center;
    overflow-x: hidden;
    line-height: 1;
    background: var(--pagina-background);
    color: var(--texto-padrao);
}

/* Título da página */

header {
    background-color: var(--fundo-padrao);
    color: var(--texto-color-escuro);
    padding: 10px 30px;
    max-width: 1000px;
    margin: auto;
    font-weight: bold;
    border: 1px solid #888;
}

h1 {
    font-family: "Nunito";
    padding-bottom: 5px;
}

#titulo {
    font-size: 36px;
}

@media screen and (max-width: 670px) {
    #titulo {
        font-size: 26px;
    }
}

/* Menu */

nav ul li a {
    text-decoration: none;
    color: var(--texto-padrao);
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 170px;
    padding: 6px;
    background: var(--botao-color-claro);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
}

nav ul li:hover,
nav ul li:focus {
    background-color: var(--botao-color-claro-hover);
    cursor: pointer;
    transform: scale(1.1);
}

/* Rodapé */

footer {
    background: var(--fundo-padrao);
    max-width: 1000px;
    margin: auto;
    font-size: smaller;
    padding: 10px;
    border: 1px solid #888;
}

footer a {
    text-decoration: none;
    color: var(--texto-padrao);
}

/* --------------------------------------------------- */

/* ESTILOS DA CALCULADORA */

.tabela_calc {
    border-collapse: collapse;
    margin: 20px auto auto;
    width: 95%;
    max-width: 1000px;

}

.tabela_calc th,
.tabela_calc td,
.tabela_calc tr {
    border: 1px solid #888;
    padding: 10px 5px 10px 5px;
}

.input_calc {
    background-color: var(--fundo-padrao);
    color: var(--texto-padrao);
    font-family: "Nunito";
    padding: 2px;
}

.spoilerbutton {
    background-color: var(--fundo-padrao);
    color: var(--texto-padrao);
    cursor: pointer;
    padding: 5px;
    font-family: "Nunito";
}

.spoiler {
    font-size: small;
    padding-top: 5px;
}

/* --------------------------------------------------- */

/* ESTILOS DO GERADOR DE DANFE SIMPLIFICADA */

.botaoxml {
    padding: 15px 50px;
    cursor: pointer;
    font-family: "Nunito";
    background-color: var(--fundo-padrao);
    transition: background-color 0.3s;
}

.botaoxml:hover,
.botaoxml:focus {
    background-color: var(--botao-color-claro);
    cursor: pointer;
}