/* Padrão de fonte e fundo */
@font-face {
    font-family: "Inconsolata";
    src: url(STYLES/Inconsolata.ttf);
}

body {
    font-family: "Inconsolata";
    background-color: #241734;
    color: #c18fff;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    font-size: 2vw;
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 20px;
    }
}

/* Título da página */

header {
    background-color: #2E2157;
    padding: 20px 30px;
    text-align: center;
    max-width: 940px;
    margin: auto;
}

#titulo {
    font-size: 6vw;
    font-weight: bold;
    color: #ffc1f5;
}

@media screen and (min-width: 1000px) {
    #titulo {
        font-size: 60px;
    }
}

/* Menu */

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li a {
    background: #f706cf;
    font-size: 2.5vw;
    text-decoration: none;
    font-weight: bold;
    color: #540d6e;
}

nav ul li {
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    border: none;
    width: 25vw;
    padding: 2px 2px 5px;
    background: #f706cf;
}

@media screen and (min-width: 1000px) {
    nav ul li {
        width: 250px;
    }

    nav ul li a {
        font-size: 25px;
    }
}

/* Rodapé */

footer {
    background: #2E2157;
    max-width: 1000px;
    font-size: 1.5vw;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    footer {
        font-size: small;
    }
}

/* --------------------------------------------------- */

/* ESTILOS DA CALCULADORA */

.tabela_calc {
    border-collapse: collapse;
    margin: 20px auto auto;
    width: 92vw;
}

.tabela_calc th,
.tabela_calc td,
.tabela_calc tr {
    font-size: 2vw;
    text-align: center;
    border: 1px solid #c18fff;
    padding: 10px 5px 10px 5px;
}

.tabela_calc th {
    text-align: center;
}

.input_calc {
    font-family: inherit;
    font-size: 2vw;
    background-color: #212330;
    color: #ffffff;
}

.spoilerbutton {
    font-family: inherit;
    background-color: #212330;
    color: #ffffff;
    cursor: pointer;
    font-size: 2vw;
}

.spoiler {
    font-family: inherit;
    font-size: 12px;
}

@media screen and (max-width: 470px) {
    .tabela_calc {
        width: 80vw;
    }
}

@media screen and (min-width: 471px) {
    .tabela_calc {
        width: 90vw;
    }
}

@media screen and (min-width: 700px) {
    .tabela_calc {
        width: 92vw;
    }
}

@media screen and (min-width: 1000px) {
    .tabela_calc {
        width: 950px;
    }
    .spoilerbutton {
        font-size: 20px;
    }

    .tabela_calc th,
    .tabela_calc td,
    .tabela_calc tr {
        font-size: 20px;
    }

    .input_calc {
        font-size: 20px;
    }
}